@media (min-width: 320px) {
	.slider-1 {
		height: 100%;
	}
	.br-section {
 		padding-top: 60px;
 		padding-bottom: 60px;
 	}

 	.br-section-text h3 {
		font-size: 30px;
	}

	.slider-caption {
		top: 20% !important;
	}
}
@media (min-width: 480px) {
	
}
@media (min-width: 768px) {
	
}
@media (min-width: 1024px) {
	
}
@media (min-width: 1200px) {
	.slider-1 {
		height: 800px;
	}
	.br-section {
 		padding-top: 80px;
 		padding-bottom: 80px;
 	}
 	.br-section-text h3 {
		font-size: 30px;
	}

	.br-section-text p {
		text-align: justify;
	}

	.slider-1 {
		height: 800px;
	}	
}
@media (min-width: 1300px) {
	.br-section {
 		padding-top: 120px;
 		padding-bottom: 120px;
 	}

 	.slider-caption {
		top: 20% !important;
	}

 	
}

@media (min-width: 1400px) {
	.slider-caption {
		top: 30% !important;
	}
}