 * {
 	font-family: 'Poppins', sans-serif;
 }
/*sections*/
.br-section-text .br-section-title {
	color: #ffc25c;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: 1px;
}

.br-section-text p {
	color: #a3a5bf;
	font-weight: 300;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	line-height: 27px;
}
.br-section-text h3 {
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

.br-section-text a {
	color: #ffc25c;
	transition: 0.3s all ease;
	font-size: 14px;
}

.br-section-text a:active,
.br-section-text a:hover,
.br-section-text a:focus {
	text-decoration: none;
	color: #fdb53e;
}

.br-section-text a:after {
    position: absolute; /* Prevent underline of arrow */
    padding-left:5px; /* Add a little space between text and arrow */
    content: "\00bb"; /* Unicode hex for &raquo; */
    transition: 0.3s all ease;
}

.br-section-text:active a:after,
.br-section-text:hover a:after,
.br-section-text:focus a:after {
	padding-left: 10px;
}

 /*end of sections*/
}

/*navbar*/

.br-navbar li {
	margin: auto 15;
}
.br-navbar li a {
	font-size: 17px;
	color: #fff !important;
	transition: 0.3s all ease;
	letter-spacing: 1px;
}

.br-navbar li a:active,
.br-navbar li a:hover, 
.br-navbar li a:focus  {
	color: #fec25d !important;
}

.navbar-logo {
	height: 100px;
	width: 180px;
}

.navbar {
	transition: 0.3s all ease;
}

.navbar.affix {
	background-color: #2f3142;
}
/*end of navbar*/


/*slider*/

.slider-1 {
/*	background-image: url('../img/slider-bg1.jpg');
	background-size: cover;
	background-position: center;*/
	/*background-color: #2f3142;*/
}

.slider-caption {
	position: absolute;
	  right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.slider-caption h1 {
	font-size: 80px;
	font-weight: 700;
	letter-spacing: 3px;
	color: #fff;
}

.slider-caption h1 span {
	color: #fec25d;
}

.slider-caption p {
	font-size: 25px;
	letter-spacing: 1px;
	color: #fff;
}
/*end of slider*/

/*about me */
.br-about-me {
	background-color: #252734;
}


/*end of about me*/

/*works */
.br-works {
	background-color: #2f3142;
}
/*end of works*/

/*skills */
.br-skills {
	background-color: #252734;
}

.br-skills-text h5 {
	color: #fff;
	line-height: 27px;
	font-size: 19px;
	letter-spacing: 1px;
}

.br-skills-text p {
	margin-top: 20px;
	color: #a3a5bf;
	text-align: justify;
	font-weight: 300;
	line-height: 27px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
/*end of skills*/

/*contact us*/
.br-contact-us {
	background-color: #2f3142;
}

.br-contact-us .form-control {
	background-color: #252734;
	border-color: #252734;
	border-radius: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 30px;
	color: #fff;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
}

.br-contact-us .form-control:focus {
  border-color: #fdb53e;
}

textarea:focus, input:focus{
    outline: none;
}

textarea { resize: none; }

.br-contact-us .form-control:-webkit-input-placeholder {
	color: #fff;
	letter-spacing: 1px;
}

.br-contact-us .form-control:-ms-input-placeholder {
	color: #fff;
	letter-spacing: 1px;
}

.br-contact-us .form-control::placeholder {
	color: #fff;
	letter-spacing: 1px;
}

.br-btn-contact {
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 25px;
	transition: 0.3s all ease;
	background-color: #ffc25c;
	color: white;
}

.br-btn-contact:hover,
.br-btn-contact:active,
.br-btn-contact:focus {
	background-color: #fdb53e;
}

 .fa-stack { font-size: 1em; }
  i { vertical-align: middle; }

.br-social-icons a::after { 
	display: none;
 }

.br-social-icons .br-fb .fa-stack-1x  {
  	background-color: #4267b2;
  	transition: 0.3s all ease;
}
.br-social-icons .br-linkedin .fa-stack-1x  {
  	background-color: #0077b5;
  	transition: 0.3s all ease;
}

.br-social-icons .br-ig .fa-stack-1x  {
  	background: -webkit-linear-gradient(#C70467, #F6BD64);
  	transition: 0.3s all ease;
}

.br-social-icons .br-email .fa-stack-1x  {
  	background-color: #252734;
  	transition: 0.3s all ease;
}

.br-social-icons .br-fb .fa-stack-1x:active,
.br-social-icons .br-fb .fa-stack-1x:hover,
.br-social-icons .br-fb .fa-stack-1x:focus,
.br-social-icons .br-linkedin .fa-stack-1x:active,
.br-social-icons .br-linkedin .fa-stack-1x:hover,
.br-social-icons .br-linkedin .fa-stack-1x:focus,
.br-social-icons .br-ig .fa-stack-1x:active,
.br-social-icons .br-ig .fa-stack-1x:hover,
.br-social-icons .br-ig .fa-stack-1x:focus,
.br-social-icons .br-email .fa-stack-1x:active,
.br-social-icons .br-email .fa-stack-1x:hover,
.br-social-icons .br-email .fa-stack-1x:focus  {
	background-color: #ffc25c;
	background: #ffc25c;
}

.g-recaptcha {
    display: inline-block;
}

/*end of contact us*/

/*footer*/
	footer {
		background-color: #252734;
		color: white;
	}

	.br-footer p {
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 0px;
		letter-spacing: 1px;
		color: #a3a5bf;
	}

	.br-footer p span {
		color: #ffc25c;
	}

	.br-sitemap {
		list-style: none;
	}

	.br-sitemap li {
		padding-left: 8px;
		padding-right: 8px;
	}

	.br-sitemap li a {
		color: white;
		transition: 0.3s all ease;
		font-size: 14px;
		letter-spacing: 1px;
	}

	.br-sitemap li a:active,
	.br-sitemap li a:hover,
	.br-sitemap li a:focus {
		color: #ffc25c;
		text-decoration: none;
	}
/*end of footer*/

/*scroll*/

/*end of scroll*/

/* demo 28 preload css*/
#loading{
	background-color: #252734;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
}
#object{
	width: 80px;
	height: 80px;
	background-color: #fec25d;
	-webkit-animation: animate 1s infinite ease-in-out;
	animation: animate 1s infinite ease-in-out;
	margin-right: auto;
	margin-left: auto;
	margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% { 
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
  } 50% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
  } 100% { 
    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
  }
}

/*end of demo 1 preload css*/

/*back to top*/

.scrolltop {
    width:100%;
    margin:0 auto;
    position:fixed;
    bottom:20px;
    right:10px; 
    z-index: 999;
    color: white;
}
.scroll {
    position:absolute;
    right:20px;
    bottom:40px;
    background:#ffc25c;
    text-align: center;
    margin: 0 0 0 0;
    cursor:pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 
    padding: 15px;       
}

.scroll:hover {
	background: #fdb53e;
}

/*particles*/
/* ---- stats.js ---- */
.count-particles{
  border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #2f3142;
  background-image: url('../img/slider-bg1.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/*end of particles*/

